/* login part */
h1 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.login {
    margin-top: 60px;
}
form {
    text-align: center;
}
form label {
    font-size: 15px;
    margin-right: 10px;
}
form input {
    border: 2px solid #333;
    margin-bottom: 10px;
}
form .loginBtn {
    width: 252px;
    transition: 0.3s;
    background: none;
    font-weight: 500;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    margin-bottom: 5px;
}
form .loginBtn:hover {
    background: #333;
    color: #fff;
}
form .signupBtn {
    width: 252px;
    transition: 0.3s;
    background: none;
    font-weight: 500;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
}
form .signupBtn:hover {
    background: #333;
    color: #fff;
}

/* signup part */
.emailBox {
    margin-left: 13px;
}
form .signcomBtn {
    width: 252px;
    transition: 0.3s;
    background: none;
    font-weight: 500;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
}
form .signcomBtn:hover {
    background: #333;
    color: #fff;
}