@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.6;
    font-size: 16px;    
    font-family: 'Noto Sans KR', sans-serif;
	cursor: default;
}
a, button {
	line-height: 1.7;
    font-size: 17px;    
    text-decoration: none;
    color:#333;
	cursor: pointer;
}

ol, ul , li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide {
	position: absolute;
	left: 0; top: 0;
	width: 0; height: 0;
	text-indent: -9999em;
	overflow: hidden;
	visibility: hidden;
	line-height: 0;
}

/* Common css ====================== */

/* header */
#header {
	position: relative;
	background: #777;
	margin-bottom: 16px;
}
#header .inner {
	height: 100px;
}
#header h1 {
	position: absolute;
	top: 3px;
	left: 10px;

	color: #fff; 
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, /* Green glow */ 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
	animation: flicker 1.5s infinite alternate;
}
#header h1 a {
	font-size: 25px;
	font-weight: 600;
	transition: 0.2s;
}
#header h1 a:hover {
	border-bottom: 3px solid #000;
}
#header h1 span {
	font-size: 12px;
	margin-left: 10px;
}
/* header - loginWrap */
#header .loginWrap {
	position: absolute;
	bottom: 0;
	right: 10px;
}
#header .loginWrap .log {}
#header .loginWrap .log li {
	float: left;
	color: #fff; 
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, /* Green glow */ 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
#header .loginWrap .log li:last-child {
	margin-left: 8px;
}
#header .loginWrap .log li a {
	font-size: 15px;
	font-weight: 500;
	transition: 0.2s;
	animation: flicker 1.5s infinite alternate;
}
#header .loginWrap .log li a:hover {
	font-weight: 600;
	border-bottom: 2px solid #000;
}


/* footer */
#footer {
	position: fixed;
	bottom: 0;
	right: 10px;
}
#footer p {
	font-weight: 500;
	font-size: 10px;
}

/* animation */
@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
	  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
		0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
	}
	20%,
	24%,
	55% {
	  text-shadow: none;
	}
  }
