/* sub -newspid */
.main .postBox {
    width: 600px;
    border: 2px solid #333;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #ededed;
    transition: 0.3s;
    margin: 0 auto;
    margin-top: 50px;
}
.main .postBox:hover {
    transform: scale(1.05);
}
.main .postBox .post .postImg {
    height: 300px;
    display: flex;
    border: 1px solid #333;
}
.main .postBox .post .postImg img {
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* posthead */
.main .postBox .post .postHead {
    height: 50px;
    background-color: #ededed;
    border: 1px solid #333;
}
.postHead .buttonWrap {
    margin-top: 8px;
}
.postHead .likeBtn {
    width: 30px;
    height: 30px;
    background: #fff;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 11px;
}
.postHead .likeBtn:hover {
    background: #ffc0cb;
    color: #ff3399;
}
.postHead .shareBtn {
    width: 30px;
    height: 30px;
    background: #fff;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    /* font-size: 17px; */
}
.postHead .shareBtn:hover {
    background: #ffc0cb;
    color: #ff3399;
}
.postHead .countNumber {
    margin-left: 20px;
    margin-top: 3px;
    font-weight: 600;
    float: left;
}

/* postmain */
.postMain {
    height: 170px;
    border: 1px solid #333;
}
.postMain .comment {
    margin-left: 2px;
    margin-top: 5px;
}
.postMain .comment .cmtInput {
    margin-left: 9px;
    margin-top: 25px;
    border: 1px solid #333;
    border-radius: 5px;
}
.postMain .comment .cmtBox {
    width: 300px;
    height: 100px;
    border: 1px solid #777;
    border-radius: 5px;
}
.postMain .comment .postCmtBtn {
    background: #fff;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.postMain .comment .postCmtBtn:hover {
    background: #333;
    color: #fff;
}
.main .postBox .post .postFooter {
    height: 50px;
    background-color: #ededed;
    border: 1px solid #333;
}

/* 게시글 작성 */
.main .postWrite {
    margin-top: 50px;
  }
  .main .postWrite h3 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
  .main .postWrite p {
    font-size: 16px;
    text-align: center;
  }
  .main .postWrite .postBtnWrap {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .main .postWrite .postBtnWrap .postBtn {
    background: #f2f2f2;
    border: 1px solid #333;
    padding: 8px;
    font-size: 13px;
    border-radius: 7px;
    transition: 1.1s;
    font-weight: 600;
    cursor: pointer;
  }
  .main .postWrite .postBtnWrap .postBtn:hover {
    background: #333;
    color: #fff;
  }

/* postfooter - 댓글 get하는 곳 */
.postFooter {}
.postFooter p {
    margin-left: 10px;
    font-size: 10px;
}


  /* popup css */
  .postWrap{
    text-align: center;
    border: 2px solid #333;
  }
  .postWrap form {}
  .postWrap form .formGroup {
    margin-bottom: 10px;
  }
  .postWrap form .title {
    font-weight: 600;
    font-size: 11px;
  }
  .postWrap form .formControl {
    border: 2px solid #333;
    border-radius: 5px;
  }
  
  .postWrap .postBtnWrap {
    margin-top: 10px;
  }
  
  .postWrap .btnGo {
    width: 200px;
    margin-right: 5px;
    transition: 0.3s;
    background: #fff;
    font-weight: 600;
    border-radius: 10px;
  }
  .postWrap .btnGo:hover {
    background: #333;
    color: #fff;
  }
  .postWrap .btnClose {
    transition: 0.3s;
    background: #fff;
    font-weight: 600;
    border-radius: 10px;
  }
  .postWrap .btnClose:hover {
    background: #333;
    color: #fff;
  }